.heading{
    width: 100%;
    text-align: left;
}
.heading h1{
     display: inline;
}
.heading button{
    float: right;
    border:  1px solid  goldenrod;
    font-size: 20px;
}
.mario{
    width: 100%;
}
#start, #status{
    font-size: 26px;
}
.instructionimg{
display: inline-block;
width: 45%;
}
.modal-dialog{
    width: 90%;
}
video{
    background: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 25px;
}